.verification-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
}

.text-1-container, .text-2-container {
    align-items: center;
    justify-content: center;
}

.verification-text-1, .verification-text-2 {
    text-align: center;
}