.component {
  padding-top: 2em;
  padding-bottom: 1em;
}

.info-text {
  text-align: center;
  font-weight: bold;
}

.form-container {
  justify-content: center;
  display: flex;
}

.form-input {
  padding: 1em;
  width: 40%;
  border-radius: 10px 0% 0% 10px;
  border: solid black 1px;
}

.form-button {
  width: 10%;
  height: 2.9em;
  font-size: 18px;
  color: black;
  border-radius: 0% 10px 10px 0%;
  border: solid black 1px;
  border-left: 0px;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-button span {
  display: inline-block;
  position: absolute;
  transition: 0.5s;
  z-index: 1;
}

.form-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.form-button:hover span {
  padding-right: 25px;
}

.form-button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (min-width: 0px) {
  .form-input {
    width: 65%;
  }

  .form-button {
    width: 30%;
    font-size: 15px;
    height: 4.5em;
  }
}

@media only screen and (min-width:600px) {
  .form-button {
    width: 20%;
    font-size: 20px;
    height: 3em;

  }
}

@media only screen and (min-width: 800px) {
  .form-input {
    width: 60%;
  }

  .form-button {
    width: 20%;

  }
}

@media only screen and (min-width: 1100px) {
  .form-input {
    width: 55%;
  }

  .form-button {
    width: 15%;
  }
}