.component {
  padding-top: 2em;
  padding-bottom: 1em;
}

.info-text {
  text-align: center;
  font-weight: bold;
}

.form-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.form-input {
  border-radius: 25px 0% 0% 25px;
  padding: 1em;
  width: 40%;
  padding: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  box-shadow: 0px 0px 20px -18px;
}

.form-input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.form-input:focus {
  border: 2px solid grey;
}


.form-button {
  width: 10%;
  font-family: inherit;
  font-size: 20px;
  background-color: (190, 190, 190);
  color: rgb(0, 0, 0);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0% 25px 25px 0%;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}

.form-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.form-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.form-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.form-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.form-button:hover span {
  transform: translateX(2.5em);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media only screen and (min-width: 0px) {
  .form-input {
    width: 65%;
  }

  .form-button {
    width: 30%;
    font-size: 15px;
    height: 4.5em;
  }
}

@media only screen and (min-width:600px) {
  .form-button {
    width: 20%;
    font-size: 20px;
    height: 3em;

  }
}

@media only screen and (min-width: 800px) {
  .form-input {
    width: 60%;
  }

  .form-button {
    width: 20%;

  }
}

@media only screen and (min-width: 1100px) {
  .form-input {
    width: 55%;
  }

  .form-button {
    width: 15%;
  }
}