.profile-container {
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.6);
    top: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.profile-img-modal {
    border-radius: 50%;
    width: 60px;
    height: 45px;
    border: solid black 1px;
    object-fit: cover;
    margin: auto;
}

.profile-article-html {
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    margin-top: 2rem;
    width: 30%;
    height: auto;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.profile-main-html {
    padding: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.profile-form-contents {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.top-profile-container {
    display: flex;
}

.profile-label {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 0;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.profile-exit {
    width: 50px;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

#second-hr {
    margin-bottom: 0;
}

/* Input Section */
.profile-input-updates-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.profile-input-update-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.profile-input-update-container.name {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.profile-input-label {
    font-weight: 600;
    padding-bottom: 7px;
}

.profile-name-input-box {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
    color: dimgray;
}


.profile-file-upload {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    background-color: white;
    border-radius: 10px;
}

.profile-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-file-upload .icon svg {
    height: 80px;
    fill: black;
}

.profile-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-file-upload .text span {
    color: black;
}

.profile-file-upload input {
    display: none;
}

/* Bottom Section */
.modify-options-container {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 0 0;
}

.profile-update-button {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.profile-update-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.profile-update-button savechanges:active {
    transform: translateY(-1px);
}


@media only screen and (min-width: 0px) {
    .profile-article-html {
        width: 90%;
    }
}

@media only screen and (min-width: 300px) {
    .profile-article-html {
        width: 80%;
    }
}

@media only screen and (min-width: 700px) {
    .profile-article-html {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .profile-article-html {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .profile-article-html {
        width: 30%;
    }
}