.rank-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rank-txt{
    text-align: center;
    margin-top: 3rem;
}

.rank-Position{
    text-align: center;
}

.rank-scoreboard{
  padding-top: 1rem;
}

.rank-scoreboard p {
  margin: 0;
}

.error-box {
  padding-top: 1em;
  text-align: center;
}

#rank-scoreboard-navigate {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .rank-txt {
      margin-top: 1rem;
    }
  }