.rank-txt{
    text-align: center;
    margin-top: 3rem;
}

.rank-Position{
    text-align: center;
}

.error-box {
  padding-top: 1em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
    .rank-txt {
      margin-top: 6rem;
    }
  }