.password-outter-container {
    width: 35%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 20px;
}

.password-label{
    margin: auto;
    padding: 20px 0 20px 0;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

.change-pass-form{
    width: 70%;
    height: 100%;
    justify-content: center;
    margin: auto;
}

.pass-container{
    margin: auto;
}



.password-input-form{
    width: 50%;
    height: 20px;
    margin: auto;
    justify-content: center;
}