.profile-img { 
    border-radius: 50%;
    width: 53px;
    height: 53px;
    border: solid black 1;
    object-fit: cover;
}


.drop-down-profile {
    display: flex;
    padding: 15px 20px 0 0;
}

/* Overriding some properties forced by the react-strap library */
.dropdown-menu {
    margin-top: 20px !important; 
}

.dropdown-menu show {
    z-index: 999 !important; 
}

.dropdown-item {
    z-index: 999 !important;
}

