/* Remove the logo from navigation-bar */
@media only screen and (min-width: 0px) {
    .logo-image{
        width: 0px;
        height: 0px;
    }
}

@media only screen and (min-width: 600px) {
    .logo-image{
        width: 100px;
        height: 100px;
        float: left;
        cursor: pointer;
    }

    .logo-image-container{
        width: 140px;
        height: 140px;
        display: flex;
    }
    
}