/* Remove the logo from navigation-bar */
@media only screen and (min-width: 0px) {
    .image {
        width: 0px;
        height: 0px;
    }

    .image:hover {
        /* these 2 properties allow border to slowly  disolve over 0.3s*/
        border-width: 0px;
        border: 3px solid rgba(0, 0, 0, 0);
    }
}

@media only screen and (min-width: 600px) {
    .image {
        width: 150px;
        height: 150px;
        padding: 1.5em;
        margin: 5px;
        float: left;
    }

    
}