
.register-article-html {
  border-radius: 0.5rem;
  border: 1px solid darkgray;
  margin-top: 2rem;
  width: 50%;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.register-main-html {
  padding: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.register-form-contents {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.register-form-grouping {
  border-style: solid;
  border-width: 0;
  border-color: transparent;
  padding-left: 0;
  padding-bottom: 1rem;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.register-label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.register-form-div {
  margin-top: 0.75rem;
}

.register-form-label {
  display: block;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
}

.register-input-properties {
  padding: 0.6rem;
  border: 1px solid;
  border-color: grey;
  background-color: transparent;
}

.register-input-properties:hover {
  background-color: black;
  color: white;
}

/* shorter way of setting width for individual input field */
.register-input-properties[type="text"],
.register-input-properties[type="email"],
.register-input-properties[type="password"] {
  width: 100%;
}

.register-button {
  font-weight: bold;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  border: 1px solid black;
  border-color: gray;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding-right: 1rem;
  cursor: pointer;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  display: inline-block;
}

.register-button:hover {
  transform: scale(1.05);
}

.signin-instead-container {
  line-height: 1.5;
  margin-top: 0.75rem;
}

.signin-instead-button {
  font-size: 0.875rem;
  color: black;
  display: block;
  /* changing the direction in which text expands on hover effect */
  transform-origin: left center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.signin-instead-button:hover {
  text-decoration: underline;
  transform: scale(1.05);
  cursor: pointer;
}

.register-error-msg-container{
  display: flex;
  justify-content: center;
}
.register-error-msg{
  font-size: small;
}