html {
  height: 100%;
}

body {
  margin: 0;
  font-family:'Verdana', sans-serif;
  background: linear-gradient(180deg, #33446655, #9198e5);
  background-attachment: fixed; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
