html {
  height: 100%;
  z-index: 1;
  position:relative;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif, Verdana ;
  background: linear-gradient(180deg, #33446655, #9198e5);
  background-attachment: fixed; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  position:relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
