* {
    z-index: 1;
    position: relative;
}

/* Main Containers */
.delete-account-outter-container {
    width: 60%;
    margin: auto;
    margin-bottom: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 20px;
}

.delete-account-form {
    width:100%;
    margin-right: auto;
    grid-column: span 1;
}

.disclaimer-container {
    width: 100%;
    grid-column: span 1;
}

.delete-error-msg-container{
    display: flex;
    justify-content: center;

}

/* media width content */
@media only screen and (max-width: 600px) {
    .delete-account-outter-container {
        width: 93%;
        margin-top: 30%;
    }

}

@media only screen and (min-width: 1504px) {
    .disclaimer-container{
        grid-column: span 2;
           
        }
    
    .delete-disclaimer-text{
        margin-left: None;
    }
}



.delete-account-label-container {
    margin-left: 1rem;
}

.delete-account-label {
    margin: auto;
    text-align: center;
    padding: 20px 0 20px 0;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}



.delete-account-fieldset {
    width: 100%;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    padding-bottom: 1rem;
}

.delete-account-container {
    display: flex;
    justify-content: center;

}

.delete-input-form {
    width: 50%;
    height: 5px;
    margin: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 12px 0 12px 5px;
    border: solid grey 1px;
    background-color: transparent;

}

.delete-input-form:hover {
    background-color: white;
    color: black;
}

.delete-input-form:focus {
    outline: none !important;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(70, 69, 69);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.delete-account-button-container {
    margin: auto;
    display: flex;
    margin-top: 1rem;
}

.delete-account-button {
    height: 2.9em;
    width: 50%;
    margin: auto;
    color: black;
    background-color: transparent;
    border-radius: 5px;
    border: solid grey 1px;
    font-size: small;
    cursor: pointer;
    transition: all 0.1s;
}

.delete-account-button:hover {
    background-color: white;
    scale: 1.04;
}

.disclaimer-label-container {
    width: 100%;
    display: flex;
}

.disclaimer-account-label {
    padding: 20px 0 20px 0;
    font-size: large;
    font-weight: 500;
    margin: auto;
    justify-content: center;
}

.delete-disclaimer-text{
    margin-right: 1rem;
    margin-left: 1rem;

}


.delete-error-msg{
    font-size: small;
}